<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="HexSID">false</entry>
<entry key="WBXML">false</entry>
<entry key="RestartOnLock">false</entry>
<entry key="Operator">cmcc</entry>
<entry key="SequentialNonce">false</entry>
<entry key="MobileDataOnly">false</entry>
<entry key="UseSmsReg">false</entry>
<entry key="CollectSetPermission">false</entry>
</properties>
